pip==9.0.1
ipython==6.0.0
bumpversion==0.5.3
wheel==0.29.0
watchdog==0.8.3
flake8==3.3.0
tox==2.7.0
coverage==4.3.4
Sphinx==1.5.5
cryptography==1.7 --global-option=build_ext --global-option="-L/usr/local/Cellar/openssl/1.0.2k/lib" --global-option=build_ext --global-option="-I/usr/local/Cellar/openssl/1.0.2k/include" ; sys_platform == "darwin"
cryptography==1.8.1
PyYAML==3.12
pytest==3.0.7
pytest-cov
